<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erahub.biz.finance.mapper.FinanceReceivableMapper">

    <resultMap type="com.erahub.biz.finance.domain.FinanceReceivable" id="FinanceReceivableResult">
        <result property="receivableId" column="receivable_id"/>
        <result property="invoicingDate" column="invoicing_date"/>
        <result property="projectNumber" column="project_number"/>
        <result property="projectName" column="project_name"/>
        <result property="includingTaxPrice" column="including_tax_price"/>
        <result property="taxRate" column="tax_rate"/>
        <result property="excludingTaxPrice" column="excluding_tax_price"/>
        <result property="accountPaid" column="account_paid"/>
        <result property="arrearage" column="arrearage"/>
        <result property="warrantyDeposit" column="warranty_deposit"/>
        <result property="projectManager" column="project_manager"/>
        <result property="uploadId" column="upload_id"/>
        <result property="financeProjectResponsiblePerson" column="finance_project_responsible_person"/>
        <result property="operationProjectResponsiblePerson" column="operation_project_responsible_person"/>
        <result property="receivableType" column="receivable_type"/>
        <result property="status" column="status"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <association property="company" column="company_id" javaType="com.erahub.biz.finance.domain.FinanceCompany"
                     resultMap="FinanceCompanyResult"/>
    </resultMap>

    <resultMap type="com.erahub.biz.finance.domain.FinanceCompany" id="FinanceCompanyResult">
        <result property="companyId" column="company_id"/>
        <result property="companyNumber" column="company_number"/>
        <result property="companyName" column="company_name"/>
        <result property="status" column="company_status"/>
    </resultMap>

    <sql id="selectFinanceReceivable">
        select bfr.receivable_id,
               bfr.invoicing_date,
               bfr.project_number,
               bfr.project_name,
               bfr.including_tax_price,
               bfr.tax_rate,
               bfr.excluding_tax_price,
               bfr.account_paid,
               bfr.arrearage,
               bfr.warranty_deposit,
               bfr.project_manager,
               bfr.upload_id,
               bfr.finance_project_responsible_person,
               bfr.operation_project_responsible_person,
               bfr.receivable_type,
               bfr.status,
               bfr.create_by,
               bfr.create_time,
               bfr.update_by,
               bfr.update_time,
               bfr.remark,

               bfc.company_id,
               bfc.company_number,
               bfc.company_name,
               bfc.status as company_status

        from biz_finance_receivable bfr
                 left join biz_finance_company bfc on bfr.company_id = bfc.company_id
    </sql>

    <select id="selectPageFinanceReceivableList" resultMap="FinanceReceivableResult">
        <include refid="selectFinanceReceivable"/>
        ${ew.getCustomSqlSegment}
    </select>

    <select id="queryList" resultMap="FinanceReceivableResult">
        <include refid="selectFinanceReceivable"/>
        ${ew.getCustomSqlSegment}
    </select>

    <select id="queryById" resultMap="FinanceReceivableResult">
        <include refid="selectFinanceReceivable"/>
        where bfr.receivable_id = #{id}
    </select>

    <select id="selectAllTaxRate" resultType="java.math.BigDecimal">
        select tax_rate
        from biz_finance_receivable
        group by tax_rate
    </select>

    <select id="selectAllFinanceProjectResponsiblePerson" resultType="string">
        select finance_project_responsible_person
        from biz_finance_receivable
        group by finance_project_responsible_person
    </select>

    <select id="selectAllOperationProjectResponsiblePerson" resultType="string">
        select operation_project_responsible_person
        from biz_finance_receivable
        group by operation_project_responsible_person
    </select>


    <select id="selectStatisticsData" parameterType="java.util.Map" resultType="java.util.Map">
        select sum(bfr.including_tax_price) as total_including_tax_price,
               sum(bfr.arrearage)           as total_arrearage,
               sum(bfr.warranty_deposit)    as total_warranty_deposit,
               COUNT(bfr.receivable_id)     as total
        from biz_finance_receivable bfr
                 left join biz_finance_company bfc on bfr.company_id = bfc.company_id
        where bfc.status = #{param.companyStatus}
          and bfr.status = #{param.receivableStatus}
    </select>

    <select id="selectArrearageGroupByCompanyName" parameterType="java.util.Map" resultType="java.util.Map">
        select bfs.company_name,
               bfs.total_arrearage,
               bfs.ranking
        from (select bfc.company_name,
                     sum(bfr.arrearage) as total_arrearage,
                     row_number()          OVER (ORDER BY sum(bfr.arrearage) DESC) AS ranking

              from biz_finance_receivable bfr
                       left join biz_finance_company bfc on bfr.company_id = bfc.company_id
              where bfc.status = #{param.companyStatusByCompany}
                and bfr.status = #{param.receivableStatusByCompany}
              group by bfc.company_name) bfs
        where bfs.ranking &lt;= #{param.rankingByCompany}
    </select>

    <select id="selectArrearageGroupByTaxRate" parameterType="java.util.Map" resultType="java.util.Map">
        select bfr.tax_rate,
               sum(bfr.arrearage) as total_arrearage
        from biz_finance_receivable bfr
        where bfr.status = #{param.receivableStatusByTaxRate}
        group by bfr.tax_rate
    </select>

    <select id="selectArrearageGroupByInvoicingDate" parameterType="java.util.Map" resultType="java.util.Map">
        (select date_format(bfr.invoicing_date, '%Y-%m') as invoicing_month,
                sum(bfr.including_tax_price)             as total_including_tax_price,
                sum(bfr.arrearage)                       as total_arrearage
         from biz_finance_receivable bfr
         where bfr.status = #{param.receivableStatusByInvoicingDate}
         group by invoicing_month
         having invoicing_month > date_format(date (date_add(now(), interval -1 year)), '%Y-%m')
         order by invoicing_month asc)
        union
        (select ('before')                   as invoicing_month,
                sum(bfr.including_tax_price) as total_including_tax_price,
                sum(bfr.arrearage)           as total_arrearage
         from biz_finance_receivable bfr
         where date_format(bfr.invoicing_date, '%Y-%m') &lt;=
               date_format(date (date_add(now(), interval -1 year)), '%Y-%m')
           and bfr.status = #{param.receivableStatusByInvoicingDate})
    </select>

    <select id="selectPageListByInvoicingMonth" parameterType="com.erahub.biz.finance.domain.bo.FinanceReceivableBo" resultMap="FinanceReceivableResult">
        <include refid="selectFinanceReceivable"/>
        where
        <choose>
            <when test="bo.invoicingMonth == 'before'.toString()">
                date_format(bfr.invoicing_date, '%Y-%m') &lt;=
                date_format(date (date_add(now(), interval -1 year)), '%Y-%m')
                and bfr.status = #{bo.status}
            </when>
            <otherwise>
                date_format(bfr.invoicing_date, '%Y-%m') = #{bo.invoicingMonth}
                and bfr.status = #{bo.status}
            </otherwise>
        </choose>
        ${ew.getCustomSqlSegment}
    </select>
</mapper>
