<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erahub.base.basicservice.mapper.BSNoticeMapper">

    <resultMap type="BSNotice" id="BSNoticeResult">
        <result property="noticeId"       column="notice_id"       />
        <result property="noticeTitle"    column="notice_title"    />
        <result property="noticeType"     column="notice_type"     />
        <result property="noticeContent"  column="notice_content"  />
        <result property="status"         column="status"          />
        <result property="createTime"     column="create_time"     />
        <result property="updateBy"       column="update_by"       />
        <result property="updateTime"     column="update_time"     />
        <result property="remark"         column="remark"          />
        <association property="noticeCreator"    column="create_by" javaType="com.erahub.base.system.api.domain.SysUser" resultMap="SysUserResult" />
    </resultMap>

    <resultMap type="SysUser" id="SysUserResult">
        <id     property="userId"       column="user_id"      />
        <result property="userName"     column="user_name"    />
        <result property="nickName"     column="nick_name"    />
        <result property="avatar"       column="avatar"       />
    </resultMap>

    <sql id="selectNotice">
        SELECT bn.notice_id,
               bn.notice_title,
               bn.notice_type,
               bn.notice_content,
               bn.status,
               bn.remark,
               bn.create_by,
               bn.create_time,
               bn.update_by,
               bn.update_time,

               su.user_id,
               su.user_name,
               su.nick_name,
               su.avatar
        FROM bs_notice bn
                 left join sys_user su on bn.create_by = su.user_name
    </sql>

    <select id="getLatestNotice" parameterType="Integer" resultMap="BSNoticeResult">
        <include refid="selectNotice"/>
        where bn.status = '0'
        order by create_time desc
        LIMIT #{latestNoticeNumber}
    </select>

    <select id="selectPageNoticeListByIndex" resultMap="BSNoticeResult">
        <include refid="selectNotice"/>
        ${ew.getCustomSqlSegment}
    </select>
</mapper>
